.slider {
  padding-bottom: 25px;
}

.slider-pager {
  bottom: 5px;
}

.img-circle,
.img-avatar > img:first-child {
  @include border-radius(50% !important);
}

.img-shadow {
  @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.5));
}

.table {
  background-color: transparent;
  margin-bottom: rem-calc(20);
  max-width: 100%;
  width: 100%;

  tr td {
    padding: 15px 0;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  tfoot {
    border-top: 1px solid $border-color;
  }

  &.table-big {
    tr td {
      font-size: 22px;
    }
  }
}

.popup {
  @include border-radius($border-radius);
  @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.5));

  .popup-head {
    border-bottom-color: #ccc;
    padding: 15px 10px;
    text-align: left;

    .popup-title {
      font-size: 20px;
    }
  }

  .popup-buttons {
    border-top: 1px solid #ccc;
  }
}
