.bar-gray .item-input-wrapper {
  background-color: #fff;
}

.item-input,
textarea {
  border-color: transparent;
  background-color: transparent;

  &.text-huge > input {
    font-size: 36px;
    height: 48px;
  }

  &.text-big > textarea {
    font-size: 26px;
  }
}

.item-input-white {
  background-color: #fff !important;
  border-color: $brand-gray-light !important;
  border-style: solid;
  border-width: 1px;
}

.item-input-25 {
  float: left;
  width: 25%;
}

.item-input-30 {
  float: left;
  width: 30%;
}

.item-input-40 {
  float: left;
  width: 40%;
}

.item-input-50 {
  float: left;
  width: 50%;
}

.item-input-70 {
  float: left;
  width: 70%;
}
.input-label-placeholder {
  color: #aaa;
  font-weight: normal;
}

.item-radio-left {
  padding-left: 60px;
  padding-right: 0;

  .radio-icon:before {
    content: '\f170';
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  .radio-icon {
    left: 0;
    visibility: inherit;
  }

  input:checked ~ .radio-icon:before {
    content: '\f16f';
  }
}
