#keyboard {
  border-top: 1px solid $brand-gray-light;

  > .row {
    border-bottom: 1px solid $brand-gray-light;
    padding: 0;

    + .row {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    > div > .row {
      height: 60px;
      padding: 0;
    }
  }

  .key,
  .key-gray {
    border-right: 1px solid $brand-gray-light;

    &:last-child {
      border-right: 0;
    }

    a {
      font-size: 20px;
      margin-bottom: 0;
      margin-top: 0;
      padding-top: 6px;
    }

    a:before,
    i {
      font-size: 16px;
    }
  }

  .key-gray {
    background-color: $brand-gray-lighter;
  }
}

.keyboard-with-letters {
  > .row > div > .row {
    height: 70px !important;
  }

  > .row:last-child > div > .row {
    height: 60px !important;
  }

  .col {
    padding: 0;
  }

  .key small {
    font-size: 13px;
    display: block;
    line-height: 5px;
  }
}

#pin {
  margin: 20px 0;

  li {
    margin: 0 10px;

    i {
      color: $brand-gray-light;
      font-size: 32px;
    }
  }
}