.list-unstyled {
  margin: 0;
  padding: 0;

  li {
    list-style: none inside nonde;
  }
}

.list-inline li {
  display: inline;
}

.list-no-background {
  background-color: transparent;
}

.list-users .item {
  background-color: transparent;
}

.item-big {
  &.item-avatar {
    padding-left: 90px;
    padding-top: 25px;
  }

  > img:first-child {
    max-height: 60px;
    max-width: 60px;
  }

  .item-input {
    padding: 6px 0 5px 4px;
    input {
      font-size: 14px;
      line-height: 15px;
    }
  }
}

.item-thumbnail-large {
  min-height: 160px;

  &.item-thumbnail-left { padding-left: 145px; }
  &.item-thumbnail-right { padding-right: 145px; }

  h1 {
    margin-top: 0;
  }

  > img:first-child {
    margin-top: 30px;
    max-height: 120px;
    max-width: 120px;
  }
}

.item-icon-top-right {
  a {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  i {
    color: $brand-gray;
  }
}
