.menu.menu-left {
  background-color: $brand-black;
  color: #fff;

  .item,
  .item-complex .item-content,
  .item-radio .item-content {
    background-color: transparent;
    border-color: #000;
    color: #fff;

    &.active {
      background-color: #000;
      border-left: 5px solid $brand-red;
    }
  }
}
