body,
p,
div,
a,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $body-font-family;
  font-weight: 300;
}

h1 { font-size: 26px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }

.text-color-blue { color: $brand-blue; }
.text-bold { font-weight: 600; }

.aligncenter { text-align: center; }
.alignleft { text-align: left; }
.alignright { text-align: right; }