html,
body { font-size: $body-font-size; }

body,
p,
div,
a,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $body-font-family;
  font-weight: 300;
}

p,
div,
a {
  font-size: $body-font-size;
}

a {
  color: $anchor-font-color;
  text-decoration: none;
  line-height: inherit;

  &:hover,
  &:focus {
    color: $anchor-font-color;
    text-decoration: none;
  }
}

h1 { font-size: $h1-font-size }
h2 { font-size: $h2-font-size }
h3 { font-size: $h3-font-size }
h4 { font-size: $h4-font-size }
h5 { font-size: $h5-font-size }
h6 { font-size: $h6-font-size }

.text-color-blue { color: $brand-blue; }
.text-color-orange { color: $brand-orange; }
.text-color-green { color: $brand-green; }
.text-mute { color: $body-color-light !important; }
.text-bold { font-weight: 600; }
.text-lead { font-size: 16px; line-height: 140%; }
.text-big { font-size: $h2-font-size; }
.text-huge { font-size: 36px; line-height: 100%; }

.aligncenter { text-align: center; }
.alignleft { text-align: left; }
.alignright { text-align: right; }

a.text-mute { text-decoration: none; }

em { font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $border-color;
  margin: 1em 0;
  padding: 0;
}
