.border-left {
  border-left: 1px solid $brand-gray-light;
  padding-left: 20px;
}

.border-bottom {
  border-bottom: 1px solid $brand-gray-light;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.pull-right { float: right; }
.pull-left { float: left; }
