@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

@import 'compass';

@import 'config/functions',
        'config/variables',
        'config/placeholders';

@import 'public/icons',
        'public/typography',
        'public/buttons',
        'public/components',
        'public/layout',
        'public/menu',
        'public/forms',
        'public/keyboard',
        'public/cards',
        'public/lists',
        'public/pane',
        'public/utils';

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}
