<ion-view title="Add a funding source">
  <ion-nav-buttons side="left">
    <button class="button button-light">Cancel</button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <div class="card">
      <div class="item item-icon-left extra-padding">
        <i class="icon icon-bank"></i>
        <h2>Link bank account</h2>
        <p class="text-mute">No fee to send money</p>
      </div>
      <div class="item item-icon-left extra-padding">
        <i class="icon ion-card"></i>
        <h2>Add debit or credit card</h2>
        <p class="text-mute">Send money faster</p>
      </div>
    </div>

    <p class="text-mute">Add a funding source so you can send money</p>

    <p><a href="">Fees for sending money</a></p>

  </ion-content>

</ion-view>
