<ion-view title="Transaction detail">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon icon ion-arrow-left-c"></button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <div class="list card">

      <div class="item item-text-wrap">
        <h1>Tall Peaks LLC - Email + (Exchange)</h1>
        <p>Feb 3, 2013, 12:04PM</p>
      </div>

      <div class="item row">
        <div class="col"><p>Canceled online purchase</p></div>
        <div class="col alignright"><p>$1.99</p></div>
      </div>

      <div class="item item-icon-right">
        <i class="icon ion-card"></i>
        <p>
          <span class="text-mute">Paid with</span><br/>
          Visa-3802
        </p>
      </div>

      <div class="item item-text-wrap">
        <p>
          <span class="text-mute">Status</span><br/>
          Canceled
        </p>
      </div>

      <div class="item item-text-wrap">
        <p>
          <span class="text-mute">Transaction ID</span><br/>
          123123187623167253182351723512765
        </p>
      </div>

    </div>

  </ion-content>

</ion-view>
