<ion-view title="Add a program">
  <ion-nav-buttons side="left">
    <button class="button button-light">Cancel</button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <div class="card">
      <div class="item item-icon-left extra-padding">
        <span class="text-color-blue"><i class="icon ion-camera"></i></span>
        <h2>Add a loyalty card</h2>
        <p>Scan or add it manually</p>
      </div>
    </div>

    <div class="card">
      <div class="item item-thumbnail-left">
        <img src="images/icon-user-default.png">
        <h2>Alaska Airlines</h2>
        <p>
          <span class="text-mute">Alaska Airlines Mileage...</span><br/>
          <a href="">Join program now</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-thumbnail-left">
        <img src="images/icon-user-default.png">
        <h2>American Eagle</h2>
        <p>
          <span class="text-mute">AEREWARDS</span><br/>
          <a href="">Join program now</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-thumbnail-left">
        <img src="images/icon-user-default.png">
        <h2>Amtrak</h2>
        <p>
          <span class="text-mute">Amtrak Guest Rewards</span><br/>
          <a href="">Join program now</a>
        </p>
      </div>
    </div>

  </ion-content>

</ion-view>
