<ion-view title="Settings">
  <ion-nav-buttons side="left">
    <button class="button button-light">Close</button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <div class="list card">

      <a href="#" class="item item-icon-right">
        <i class="icon ion-ios7-arrow-right"></i>
        Credit and debit cards
      </a>

      <a href="#" class="item item-icon-right">
        <i class="icon ion-ios7-arrow-right"></i>
        Bank account
      </a>

      <a href="#" class="item item-icon-right">
        <i class="icon ion-ios7-arrow-right"></i>
        Monthly statements
      </a>

    </div>

    <div class="list card">

      <a href="#" class="item item-icon-right">
        <i class="icon ion-ios7-arrow-right"></i>
        Google Wallet Card
      </a>

    </div>

    <div class="list card">

      <a href="#" class="item item-icon-right">
        <i class="icon ion-ios7-arrow-right"></i>
        Notifications
      </a>

      <a href="#" class="item item-icon-right">
        <span class="pull-right text-mute">Off</span>
        <i class="icon ion-ios7-arrow-right"></i>
        Email updates
      </a>

      <a href="#" class="item item-icon-right">
        <i class="icon ion-ios7-arrow-right"></i>
        Change PIN
      </a>

      <a href="#" class="item item-icon-right">
        <span class="pull-right text-mute">1 Day</span>
        <i class="icon ion-ios7-arrow-right"></i>
        PIN Timeout
      </a>

    </div>

  </ion-content>

</ion-view>
