<ion-view title="My Wallet">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>

  <ion-content padding="false">

    <div class="pane-blur">
      <div class="list">
        <div class="item item-avatar item-big">
          <img src="images/icon-user-default.png" class="img-circle img-shadow">
          <label class="item item-input">
            <input type="text" placeholder="Send money to">
          </label>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item">
        <h1 class="text-color-green">$0.00</h1>
        <p class="text-mute">Wallet balance</p>
      </div>
    </div>

    <div class="card">
      <div class="item item-thumbnail-left">
        <img src="images/icon-user-default.png">
        <h2>Marriott International</h2>
        <p>
          <span class="text-mute">Marriot Rewards</span><br/><br/>
          <a href=""><span class="text-mute">Join now</span></a>
        </p>
      </div>
    </div>

    <div class="list card">

      <div class="item item-text-wrap">
        <a class="pull-right text-mute" href="">View all</a>
        Latest transactions
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col-80">Tall Peaks LLC - Email</div>
          <div class="col-20 alignright">$1.99</div>
        </div>

        <div class="row">
          <div class="col-80"><span class="text-mute">Canceled</span></div>
          <div class="col-20 alignright"><span class="text-mute">Feb 3, 2013</span></div>
        </div>
      </div>

    </div>

  </ion-content>

</ion-view>
