<ion-view title="My Wallet">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>

  <ion-content padding="false">

    <div class="pane-blur">
      <div class="list">
        <div class="item item-avatar item-big">
          <img src="images/icon-user-default.png" class="img-circle img-shadow">
          <label class="item item-input">
            <input type="text" placeholder="Send money to">
          </label>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col alignright">
            <a href=""><i class="icon ion-close"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <img src="images/send-money-fp2.png" class="img-responsive">
          </div>
          <div class="col-75 col-extra-padding">
            <h2>Send money</h2>
            <p class="text-mute">Send to any friend in the U.S. with an email address. It's safe, fast, and won't cost them a dime!</p>
          </div>
        </div>
      </div>
      <div class="item">
        <p><a href="">Learn more about sending money</a></p>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col alignright">
            <a href=""><i class="icon ion-close"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-75 col-extra-padding">
            <h2>Offers and loyalty programs</h2>
            <p class="text-mute">If there's a place nearby to use your offers or programs, they'll show up here.</p>
          </div>
          <div class="col-25">
            <img src="images/send-money-fp2.png" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="item">
        <p><a href="">View offers and loyalty programs</a></p>
      </div>
    </div>

  </ion-content>

</ion-view>
