<ion-view title="Send money">
  <ion-nav-buttons side="left">
    <button class="button button-light">Cancel</button>
  </ion-nav-buttons>

  <ion-content padding="false">

    <div class="pane-featured">
      <img src="images/icon-user-default.png" alt="" class="img-circle img-shadow" width="70" height="70">
      <h1>Send money to Tracy Brown Russi findjoy88@hotmail.com</h1>
    </div>

    <h2>Everything look good?</h2>

    <div class="padded-container">
      <table class="table table-big">
        <tr>
          <td>Visa-7930</td>
          <td>$10.00</td>
        </tr>
        <tr>
          <td><span class="text-color-blue">Fee</span></td>
          <td>$0.00</td>
        </tr>

        <tfoot>
          <tr>
            <td><span class="text-bold">Total charge</span></td>
            <td><span class="text-bold">$10.00</span></td>
          </tr>
        </tfoot>
      </table>

      <p class="text-mute">Money will be available to the recipient in a few minutes.</p>

      <hr/>

      <p><button class="button button-full button-positive">Send money</button></p>
    </div>

  </ion-content>

</ion-view>
