<ion-view title="Get a Google Wallet Card">
  <ion-nav-buttons side="left">
    <button class="button button-light">Cancel</button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <ion-slide-box does-continue="false">
      <ion-slide>
        <div class="box">
          <p><img src="images/send-money-fp2.png" alt=""></p>

          <h1>Spend anywhere</h1>

          <p>There are no fees to order and activate the Google Wallet Card. Use your card to instantly access your Wallet Balance and make purchases at millions of MasterCard&reg; locations.</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box">
          <p><img src="images/send-money-fp2.png" alt=""></p>

          <h1>Spend anywhere</h1>

          <p>There are no fees to order and activate the Google Wallet Card. Use your card to instantly access your Wallet Balance and make purchases at millions of MasterCard&reg; locations.</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box">
          <p><img src="images/send-money-fp2.png" alt=""></p>

          <h1>Spend anywhere</h1>

          <p>There are no fees to order and activate the Google Wallet Card. Use your card to instantly access your Wallet Balance and make purchases at millions of MasterCard&reg; locations.</p>
        </div>
      </ion-slide>
    </ion-slide-box>

    <p><button class="button button-full button-dark">Get your card</button></p>

  </ion-content>

</ion-view>
