<ion-view title="Send money">
  <ion-nav-buttons side="left">
    <button class="button button-light">Cancel</button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <p><img src="images/send-money-fp2.png" alt=""></p>

    <h1>Request money from friends and family.</h1>

    <p>Request money from any friend in the U.S. with an email address.</p>

    <hr/>

    <p>To get the most out of Google Wallet, you'll have to verify your identity.</p>

    <p>Once you do, you'll be able to send money, request money, receive money instantly, and transfer money to a linked bank account. It's worth it!</p>

    <p><button class="button button-full button-dark">Verify your identity</button></p>

  </ion-content>

</ion-view>
