<ion-view title="Send money">
  <ion-nav-buttons side="left">
    <button class="button button-light">Cancel</button>
  </ion-nav-buttons>

  <ion-content padding="false">

    <div class="pane-featured">
      <img src="images/icon-user-default.png" alt="" class="img-circle img-shadow" width="150" height="150">
      <h1>Send money to Tracy Brown Russi findjoy88@hotmail.com</h1>
    </div>

    <div class="padded-container">

      <div class="row">
        <div class="col-80">
          <label class="item item-input text-huge">
            <input type="text" placeholder="Amount" value="$10.00">
          </label>
        </div>
        <div class="col-40">
          <p>Visa-7930</p>
          <p><span class="text-color-orange">$0.00 fee</span></p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input text-big">
            <textarea placeholder="Add a message (optional)" rows="10"></textarea>
          </label>
        </div>
      </div>

      <hr/>

      <p><button class="button button-full button-positive">Next</button></p>

    </div>

  </ion-content>

</ion-view>
