<ion-view title="Send money">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon icon ion-arrow-left-c"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-positive">Next</button>
  </ion-nav-buttons>

  <ion-content padding="false" class="on-white">

    <div class="pane-featured">
      <img src="images/icon-user-default.png" alt="" class="img-circle img-shadow" width="70" height="70">
      <h1>Send money to Tracy Brown Russi findjoy88@hotmail.com</h1>
    </div>

    <div class="padded-container">

      <div class="row">
        <div class="col-67">
          <div class="item item-input text-huge">
            <span id="amount">{{total | currency:"$"}}</span>
          </div>
        </div>
        <div class="col-33 border-left">
          <p class="text-lead">
            Visa-7930<br/>
            <span class="text-color-orange">$0.00 fee</span>
          </p>
        </div>
      </div>

    </div>

    <div id="keyboard">

      <div class="row">
        <div class="col-80">
          <div class="row">
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updateInput(1)">1</a></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updateInput(2)">2</a></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updateInput(3)">3</a></div>
          </div>
        </div>
        <div class="col-20">
          <div class="row">
            <div class="key-gray col"><a class="button button-full button-icon icon icon-calculator-divide-sign"></a></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-80">
          <div class="row">
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updateInput(4)">4</a></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updateInput(5)">5</a></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updateInput(6)">6</a></div>
          </div>
        </div>
        <div class="col-20">
          <div class="row">
            <div class="key-gray col"><a class="button button-full button-icon icon ion-android-close"></a></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-80">
          <div class="row">
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updateInput(7)">7</a></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updateInput(8)">8</a></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updateInput(9)">9</a></div>
          </div>
        </div>
        <div class="col-20">
          <div class="row">
            <div class="key-gray col"><a class="button button-full button-icon button-clear button-dark icon ion-minus"></a></div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-80">
          <div class="row">
            <div class="key col-33"><a class="button button-full button-clear button-dark" ng-click="updateInput('.')">.</a></div>
            <div class="key col-33"><a class="button button-full button-clear button-dark" ng-click="updateInput(0)">0</a></div>
            <div class="key col-33"><a class="button button-full button-icon icon-calculator-backspace-sign" ng-click="performOperation('undo')"></a></div>
          </div>
        </div>
        <div class="col-20">
          <div class="row">
            <div class="key-gray col"><a class="button button-full button-clear button-icon button-clear button-dark icon ion-plus"></a></div>
          </div>
        </div>
      </div>

    </div>

  </ion-content>

</ion-view>
