<ion-view title="Verify your identity">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon icon ion-arrow-left-c"></button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <img src="images/identity-pass.jpg" class="aligncenter">

    <p><strong><em>To comply with government regulations, we need a little more info.</em></strong></p>

    <div class="list list-inset list-no-background">
      <p class="alignleft">Legal name</p>
      <label class="item item-input item-input-50 item-input-white">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input item-input-50 item-input-white">
        <input type="text" placeholder="Last Name">
      </label>
    </div>

    <div class="list list-inset list-no-background">
      <p class="alignleft">
        Home address<br/>
        <span class="text-mute">Must be in the US. No PO Boxes, please.</span>
      </p>
      <label class="item item-input item-input-white">
        <input type="text" placeholder="Street address">
      </label>
      <label class="item item-input item-input-white">
        <input type="text" placeholder="Apt or suite">
      </label>
      <label class="item item-input item-input-white">
        <input type="text" placeholder="City">
      </label>
      <label class="item item-input item-select item-input-white item-input-70">
        <div class="input-label input-label-placeholder alignleft">
          State
        </div>
        <select>
          <option>AK</option>
          <option>WY</option>
        </select>
      </label>
      <label class="item item-input item-input-white item-input-30">
        <input type="text" placeholder="Zip code">
      </label>
    </div>

    <div class="row">
      <div class="col">
        <p class="alignleft text-mute">Government regulations require us to collect a few more pieces of information. No credit check will be run, we promise. <a href="">Learn more</a></p>
      </div>
    </div>

  </ion-content>

</ion-view>
