<ion-view>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon icon ion-ios7-help-outline"></button>
  </ion-nav-buttons>

  <ion-content padding="false" class="on-white">

    <div class="pane-featured pane-featured-transparent">
      <img src="images/ionic.png" width="70" height="70">
      <div id="pin">
        <ul class="list-unstyled list-inline">
          <li><i class="icon" ng-class="{'ion-record': pin.length > 0, 'ion-ios7-circle-outline': pin.length == 0}"></i></li>
          <li><i class="icon" ng-class="{'ion-record': pin.length > 1, 'ion-ios7-circle-outline': pin.length < 2}"></i></li>
          <li><i class="icon" ng-class="{'ion-record': pin.length > 2, 'ion-ios7-circle-outline': pin.length < 3}"></i></li>
          <li><i class="icon" ng-class="{'ion-record': pin.length > 3, 'ion-ios7-circle-outline': pin.length < 4}"></i></li>
        </ul>
      </div>
      <h1>Enter new Wallet PIN</h1>
      <p class="text-mute">travis@russigroup.com</p>
    </div>

    <div id="keyboard" class="keyboard-with-letters">

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updatePin(1)">1</a></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updatePin(2)">2<small>ABC</small></a></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updatePin(3)">3<small>DEF</small></a></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updatePin(4)">4</a><small>GHI</small></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updatePin(5)">5<small>JKL</small></a></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updatePin(6)">6<small>MNO</small></a></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updatePin(7)">7<small>PQRS</small></a></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updatePin(8)">8<small>TUV</small></a></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updatePin(9)">9<small>WXYZ</small></a></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="removeDigits(true)">Cancel</a></div>
            <div class="key col-33"><a class="button button-clear button-dark button-full" ng-click="updatePin(0)">0</a></div>
            <div class="key col-33"><a class="button button-full button-icon icon-calculator-backspace-sign" ng-click="removeDigits()"></a></div>
          </div>
        </div>
      </div>

    </div>

  </ion-content>

</ion-view>
