<ion-view title="Verify your identity">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon icon ion-arrow-left-c"></button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <p class="text-mute">Question 1 of 4</p>

    <div class="list extra-padding">
      <h3 class="alignleft">During 1990, in which State did you live?</h3>
      <label class="item item-radio item-radio-left alignleft">
        <input type="radio" name="group">
        <div class="item-content">
          Texas
        </div>
        <i class="radio-icon"></i>
      </label>

      <label class="item item-radio item-radio-left alignleft">
        <input type="radio" name="group">
        <div class="item-content">
          New Jersey
        </div>
        <i class="radio-icon"></i>
      </label>

      <label class="item item-radio item-radio-left alignleft">
        <input type="radio" name="group">
        <div class="item-content">
          Ohio
        </div>
        <i class="radio-icon"></i>
      </label>

      <label class="item item-radio item-radio-left alignleft">
        <input type="radio" name="group">
        <div class="item-content">
          None of the above
        </div>
        <i class="radio-icon"></i>
      </label>
    </div>

    <p class="text-mute">4:54 remaining</p>

    <p><button class="button button-full button-positive">Next</button></p>

  </ion-content>

</ion-view>
