<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <ion-content>
      <div class="sidebar-header">

        <div class="row">
          <div class="col">
            <img src="images/icon-user-default.png" alt="" class="img-circle img-shadow" width="50" height="50">
          </div>
          <div class="col alignright">
            <ul class="list-inline list-unstyled">
              <li><a class="button button-inverted button-small button-icon icon ion-locked"></a></li>
              <li><a class="button button-inverted button-small button-icon icon ion-gear-b"></a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-90">travis@russigroup.com</div>
          <div class="col-10"><i class="icon ion-chevron-down"></i></div>
        </div>

      </div>

      <ion-list>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.full-page-2">
          Full Page #2
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.full-page-4">
          Full Page #4
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.full-page-8">
          Full Page #8
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.input-2">
          Input #2
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.input-7">
          Input #7
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.input-8">
          Input #8
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.input-10">
          Input #10
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.input-11">
          Input #11
        </ion-item>
        <ion-item nav-clear menu-close ng-click="showPopup('2')">
          Popup #2
        </ion-item>
        <ion-item nav-clear menu-close ng-click="showLoading()">
          Waiting #1
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.cards-2">
          Cards #2
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.cards-6">
          Cards #6
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.cards-7">
          Cards #7
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.cards-8">
          Cards #8
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.cards-9">
          Cards #9
        </ion-item>
        <ion-item ui-sref-active="active" nav-clear menu-close ui-sref="app.cards-10">
          Cards #10
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
