$brand-blue: #3262c7;
$brand-red: #c91f26;
$brand-orange: #ff8e28;
$brand-green: #218c00;
$brand-gray: #666;
$brand-gray-light: #ccc;
$brand-gray-lighter: #e8e8e8;
$brand-black: #1f1f21;

$body-bg: #eee;
$body-color: #333;
$body-color-light: #818181;

$border-color: $brand-gray-light;
$border-radius: 3px;

$anchor-font-color: #4a87ee;

$body-font-family: 'Noto Sans', sans-serif;

// We use these to control header font sizes
$h1-font-size: rem-calc(28) !default;
$h2-font-size: rem-calc(22) !default;
$h3-font-size: rem-calc(18) !default;
$h4-font-size: rem-calc(16) !default;
$h5-font-size: rem-calc(14) !default;
$h6-font-size: $rem-base !default;
