$brand-blue: #3262c7;
$brand-red: #c91f26;
$brand-gray: #666;
$brand-gray-lighter: #e8e8e8;
$brand-black: #1f1f21;

$body-bg: #eee;
$body-color: #808080;

$border-radius: 3px;

$body-font-family: 'Noto Sans', sans-serif;